<a href="https://colab.research.google.com/github/mario-97/Challenge_DataScientist/blob/main/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar librerías necesarias

In [ ]:
from google.colab import files
import pandas as pd
import io

# SUBIDA Y LECTURA DE ARCHIVO .CSV

Subir archivo .csv

In [ ]:
uploaded = files.upload(); 
dataset_SCL = pd.read_csv(io.BytesIO(uploaded['dataset_SCL.csv'])) # selección del archivo

Saving dataset_SCL.csv to dataset_SCL (8).csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
print(dataset_SCL) # imprimir dataframe

                   Fecha-I Vlo-I Ori-I Des-I Emp-I              Fecha-O  \
0      2017-01-01 23:30:00   226  SCEL  KMIA   AAL  2017-01-01 23:33:00
1      2017-01-02 23:30:00   226  SCEL  KMIA   AAL  2017-01-02 23:39:00
2      2017-01-03 23:30:00   226  SCEL  KMIA   AAL  2017-01-03 23:39:00
3      2017-01-04 23:30:00   226  SCEL  KMIA   AAL  2017-01-04 23:33:00
4      2017-01-05 23:30:00   226  SCEL  KMIA   AAL  2017-01-05 23:28:00
...                    ...   ...   ...   ...   ...                  ...
68201  2017-12-22 14:55:00   400  SCEL  SPJC   JAT  2017-12-22 15:41:00
68202  2017-12-25 14:55:00   400  SCEL  SPJC   JAT  2017-12-25 15:11:00
68203  2017-12-27 14:55:00   400  SCEL  SPJC   JAT  2017-12-27 15:35:00
68204  2017-12-29 14:55:00   400  SCEL  SPJC   JAT  2017-12-29 15:08:00
68205  2017-12-31 14:55:00   400  SCEL  SPJC   JAT  2017-12-31 15:04:00

       Vlo-O Ori-O Des-O Emp-O  DIA  MES   AÑO     DIANOM TIPOVUELO  \
0        226  SCEL  KMIA   AAL    1    1  2017    Domingo         I
1        226  SCEL  KMIA   AAL    2    1  2017      Lunes         I
2        226  SCEL  KMIA   AAL    3    1  2017     Martes         I
3        226  SCEL  KMIA   AAL    4    1  2017  Miercoles         I
4        226  SCEL  KMIA   AAL    5    1  2017     Jueves         I
...      ...   ...   ...   ...  ...  ...   ...        ...       ...
68201  400.0  SCEL  SPJC   JAT   22   12  2017    Viernes         I
68202  400.0  SCEL  SPJC   JAT   25   12  2017      Lunes         I
68203  400.0  SCEL  SPJC   JAT   27   12  2017  Miercoles         I
68204  400.0  SCEL  SPJC   JAT   29   12  2017    Viernes         I
68205  400.0  SCEL  SPJC   JAT   31   12  2017    Domingo         I

                   OPERA  SIGLAORI SIGLADES
0      American Airlines  Santiago    Miami
1      American Airlines  Santiago    Miami
2      American Airlines  Santiago    Miami
3      American Airlines  Santiago    Miami
4      American Airlines  Santiago    Miami
...                  ...       ...      ...
68201       JetSmart SPA  Santiago     Lima
68202       JetSmart SPA  Santiago     Lima
68203       JetSmart SPA  Santiago     Lima
68204       JetSmart SPA  Santiago     Lima
68205       JetSmart SPA  Santiago     Lima

[68206 rows x 18 columns]

Obtener dimensiones del dataframe

In [ ]:
dim = dataset_SCL.shape
dim # mostrar dimensiones

(68206, 18)

Convertir columnas 'Fecha-O' y 'Fecha-I' en formato fecha

In [ ]:
dataset_SCL['Fecha-O'] = pd.to_datetime(dataset_SCL['Fecha-O'])
dataset_SCL['Fecha-I'] = pd.to_datetime(dataset_SCL['Fecha-I'])

# CALCULO DE LA TEMPORADA ALTA

Primero que todo, para calcular la temporada alta, debemos separar todos los periodos que correspondan, en este caso: entre 15-Dic y 3-Mar, o 15-Jul y 31-Jul, o 11-Sep y 30-Sep, respecto a la columna 'Fecha-I'

In [ ]:
# generar periodos de alta temporada
from datetime import datetime # libreria 

# año a evaluar.
año = dataset_SCL['Fecha-I'][0].year
# EN CASO DE QUE SE ESTE CONSIDERANDO MAS DE UN AÑO EN EL DATASET, LA SIGUIENTE SECCION DE CODIGO DEBE INGRESARSE DENTRO DEL FOR DE LA CELDA SUBSIGUIENTE

In [ ]:
# para la fecha 15/12/2017
temp_1_inicio = datetime.strptime('15/12/'+str(año), '%d/%m/%Y')
print(temp_1_inicio)
 
# para la fecha 03/03/2017
temp_1_fin = datetime.strptime('3/3/'+str(año), '%d/%m/%Y')
print(temp_1_fin)

# para la fecha 15/07/2017
temp_2_inicio = datetime.strptime('15/7/'+str(año), '%d/%m/%Y')
print(temp_2_inicio)
 
# para la fecha 31/07/2017
temp_2_fin = datetime.strptime('31/7/'+str(año), '%d/%m/%Y')
print(temp_2_fin)

# para la fecha 11/09/2017
temp_3_inicio = datetime.strptime('11/9/'+str(año), '%d/%m/%Y')
print(temp_3_inicio)
 
# para la fecha 30/09/2017
temp_3_fin = datetime.strptime('30/9/'+str(año), '%d/%m/%Y')
print(temp_3_fin)

2017-12-15 00:00:00
2017-03-03 00:00:00
2017-07-15 00:00:00
2017-07-31 00:00:00
2017-09-11 00:00:00
2017-09-30 00:00:00

Con las temporadas ya obtenidas, simplemente se recorre la columna 'Fecha-I', buscando si la fecha corresponde a una temporada alta o no. Esta informacion se guarda en una lista binaria 'temporada', en donde tenemos: 1 si Fecha-I está entre 15-Dic y 3-Mar, o 15-Jul y 31-Jul, o 11-Sep y 30-Sep, 0 si no.

In [ ]:
# temporada_alta : 1 si Fecha-I está entre 15-Dic y 3-Mar, o 15-Jul y 31-Jul, o 11-Sep y 30-Sep, 0 si no.
temporada = []
for i in dataset_SCL['Fecha-I']: 
  if temp_2_inicio < i < temp_2_fin or temp_2_inicio < i < temp_2_fin or temp_1_inicio < i or i < temp_1_fin: 
    temporada.append(1) 
  else:
    temporada.append(0)

Se convierte la lista 'temporada' a dataframe, y se concatena con el dataframe 'dataset_SCL'

In [ ]:
temporada = pd.DataFrame(temporada) # convertir lista a dataframe
dataset_SCL = pd.concat([dataset_SCL, temporada], axis=1) # concatenacion
dataset_SCL = dataset_SCL.rename(columns={0:'temporada_alta'}) # renombrar columna concatenada a 'temporada_alta'
dataset_SCL # mostrar

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami,1
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami,1
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami,1
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami,1
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima,1
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,1
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima,1

# CALCULO DE DIFERENCIA EN MINUTOS

Obtener diferencia de fechas

In [ ]:
diferencia_min = dataset_SCL['Fecha-O'] - dataset_SCL['Fecha-I']
diferencia_min # mostrar diferencia de fechas en formato fecha

0         0 days 00:03:00
1         0 days 00:09:00
2         0 days 00:09:00
3         0 days 00:03:00
4       -1 days +23:58:00
               ...
68201     0 days 00:46:00
68202     0 days 00:16:00
68203     0 days 00:40:00
68204     0 days 00:13:00
68205     0 days 00:09:00
Length: 68206, dtype: timedelta64[ns]

Obtener los minutos de estas diferencias de fecha

In [ ]:
for i in range(diferencia_min.shape[0]):
  diferencia_min[i] = diferencia_min[i].total_seconds() / 60
diferencia_min

0         3.0
1         9.0
2         9.0
3         3.0
4        -2.0
         ...
68201    46.0
68202    16.0
68203    40.0
68204    13.0
68205     9.0
Length: 68206, dtype: object

Concatenar la columna 'diferencia_min' al dataframe 'dataset_SCL'

In [ ]:
dataset_SCL = pd.concat([dataset_SCL, diferencia_min], axis=1) # concatenación
dataset_SCL = dataset_SCL.rename(columns={0:'dif_min'}) # renombrar columna concatenada
dataset_SCL # mostrar

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta,dif_min
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami,1,3.0
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami,1,9.0
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami,1,9.0
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami,1,3.0
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami,1,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,46.0
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima,1,16.0
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,1,40.0
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,13.0
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima,1,9.0

# CALCULO DE PERIODOS DIA (MAÑANA, TARDE Y NOCHE)

Para la obtención de los períodos del dia, se recorre la columna de 'Fecha-I', buscando en cada fecha, los intervalos de tiempo (en hora) para determinar si esta corresponde a: mañana (entre 5:00 y 11:59), tarde (entre 12:00 y 18:59) y noche (entre 19:00 y 4:59). Y asignar este periodo a una lista

In [ ]:
periodos = [] # crear lista vacia
for i in range(dim[0]):
  if dataset_SCL['Fecha-I'][i].hour > 5 and dataset_SCL['Fecha-I'][i].hour < 12: # condicion para el periodo de mañana
    periodos.append('mañana')
  elif dataset_SCL['Fecha-I'][i].hour > 12 and dataset_SCL['Fecha-I'][i].hour < 18: # condicion para el periodo de tarde
    periodos.append('tarde')
  else: #dataset_SCL['Fecha-I'][i].hour > 18 and dataset_SCL['Fecha-I'][i].hour < 5: # condicion para el periodo de noche
    periodos.append('noche') 
periodos # mostrar

['noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'tarde',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'mañana',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'mañana',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'mañana',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'tarde',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 'noche',
 ...]

Con los periodos del dia obtenidos. La lista periodo_dia se convierte en dataframe, y esta de concatena con el dataframe 'dataset_SCL'

In [ ]:
periodo_dia = pd.DataFrame(periodos) # convertir lista en dataframe
dataset_SCL = pd.concat([dataset_SCL, periodo_dia], axis=1) # unir dataframe's
dataset_SCL = dataset_SCL.rename(columns={0:'periodo_dia'}) # renombrar columna del dataframe concatenado
dataset_SCL # mostrar

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta,dif_min,periodo_dia
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,1,2017,Domingo,I,American Airlines,Santiago,Miami,1,3.0,noche
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,1,2017,Lunes,I,American Airlines,Santiago,Miami,1,9.0,noche
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,1,2017,Martes,I,American Airlines,Santiago,Miami,1,9.0,noche
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,1,2017,Miercoles,I,American Airlines,Santiago,Miami,1,3.0,noche
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,1,2017,Jueves,I,American Airlines,Santiago,Miami,1,-2.0,noche
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,...,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,46.0,tarde
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,...,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima,1,16.0,tarde
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,...,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,1,40.0,tarde
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,...,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,13.0,tarde
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,...,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima,1,9.0,tarde

# CALCULO DE ATRASOS DE MAS DE 15 MINUTOS

Para calcular los atrasos de mas de 15 minutos, se recorre la columna 'dif_min', buscando aquellos minutos sean mayor a 15. Y asignar esta informacion a una lista binaria ('atraso'), siendo > 15 = 1, caso contrario = 0

In [ ]:
atraso = [] # lista
for i in dataset_SCL['dif_min']: # recorrer columna 'dif_min' del dataset
  if i > 15: # condicion minutos mayores a 15
    atraso.append(1) 
  else:
    atraso.append(0) 
atraso # mostrar

[0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

Converir lista de 'atraso' en dataframe para concatenerla con el dataframe 'dataset_SCL'

In [ ]:
atraso = pd.DataFrame(atraso) # convertir lista a dataframe
dataset_SCL = pd.concat([dataset_SCL, atraso], axis=1) # concatenacion
dataset_SCL = dataset_SCL.rename(columns={0:'atraso_15'}) # renombrar columna concatenada a 'atraso_15
dataset_SCL # mostrar

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta,dif_min,periodo_dia,atraso_15
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,2017,Domingo,I,American Airlines,Santiago,Miami,1,3.0,noche,0
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,2017,Lunes,I,American Airlines,Santiago,Miami,1,9.0,noche,0
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,2017,Martes,I,American Airlines,Santiago,Miami,1,9.0,noche,0
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,2017,Miercoles,I,American Airlines,Santiago,Miami,1,3.0,noche,0
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,2017,Jueves,I,American Airlines,Santiago,Miami,1,-2.0,noche,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,46.0,tarde,1
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,...,2017,Lunes,I,JetSmart SPA,Santiago,Lima,1,16.0,tarde,1
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,...,2017,Miercoles,I,JetSmart SPA,Santiago,Lima,1,40.0,tarde,1
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,...,2017,Viernes,I,JetSmart SPA,Santiago,Lima,1,13.0,tarde,0
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,...,2017,Domingo,I,JetSmart SPA,Santiago,Lima,1,9.0,tarde,0

# EXPORTACION DE COLUMNAS NUEVAS

In [ ]:
synthetic_features = dataset_SCL[['temporada_alta','dif_min',	'atraso_15', 'periodo_dia']]
synthetic_features.to_csv('synthetic_features.csv')
files.download('synthetic_features.csv')

In [ ]:
synthetic_features # mostrar

       temporada_alta dif_min  atraso_15 periodo_dia
0                   1     3.0          0       noche
1                   1     9.0          0       noche
2                   1     9.0          0       noche
3                   1     3.0          0       noche
4                   1    -2.0          0       noche
...               ...     ...        ...         ...
68201               1    46.0          1       tarde
68202               1    16.0          1       tarde
68203               1    40.0          1       tarde
68204               1    13.0          0       tarde
68205               1     9.0          0       tarde

[68206 rows x 4 columns]